<nav role="navigation" class="main-navigation nav" id="a11y-menu" aria-label="Main menu">
	<ul aria-hidden="false" class="main-menu">
		{% for item in menu.get_items %}
			<li class="nav-item {{item.classes | join(' ')}}" {% if item.get_children %}data-test="true" aria-haspopup="true"{% endif %}>
			<a class="nav-link toplevel {% if item.get_link != null %}{% else %}notalink{% endif %}" aria-label="{{item.title}}" {% if item.get_link != null %}href="{{item.get_link}}"{% else %}href="javascript:void(0)"{% endif %}>{{item.title}}</a>
			{% if item.get_children %}
				<ul class="nav nav-drop" aria-hidden="true">
					{% for child in item.get_children %}
						<li class="nav-drop-item">
							<a class="nav-link" href="{{child.get_link}}" tabindex="-1">{{child.title}}</a>
						</li>
					{% endfor %}
				</ul>
			{% endif %}
		</li>
	{% endfor %}
</ul>
</nav>